<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>ShaderNinja</Name>
    <Version>1.0.0</Version>
    <Title>ShaderNinja</Title>
    <Publisher>Maxim Blinov</Publisher>
    <StartMenuDir>ShaderNinja</StartMenuDir>
    <TargetDir>@ApplicationsDir@/ShaderNinja</TargetDir>
	<InstallerApplicationIcon>sn</InstallerApplicationIcon>

	<Watermark>snbanner.png</Watermark>
	<WizardStyle>Modern</WizardStyle>
</Installer>